# General packages
numpy
opencv-python
flask
flask-socketio
torch
torchvision
ultralytics
gunicorn

# For YOLOv8 and PyTorch
torch
torchvision
ultralytics

# For OpenVINO Optimization
openvino

# For working with Kaggle data (if you're using Kaggle API to download datasets)
kaggle

# For sending alerts (email/SMS)
twilio==7.14.0  # Optional for SMS notifications

# Other utilities
flask  # If your application is a Flask-based web app
requests  # For API requests, if needed
